body {
  padding-top: 0rem;
  color: #hsla(360, 100%, 100%, 0.5);
}
.starter-template {
  padding: 3rem 1.5rem;text-align: center;}
  .centered {text-align: center;}
}


body {
  background: #004758;
  background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

.col-sm {
  padding: 3rem 1.5rem;text-align: center;}
}
