body {
  padding-top: 0rem;
  color:green;
}
.starter-template {
  padding: 3rem 1.5rem;text-align: center;}
  .centered {text-align: center;}
}


body {
  background: #004758;
  background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}
